<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="factory" value="FactoryMethodLib.TeslaFactory" />
   <!--<add key="factory" value="FactoryMethodLib.AudiFactory" />-->   
   <!--   <add key="factory" value="FactoryMethodLib.BMWFactory" />-->   
   </appSettings>
</configuration>