
@{
    Layout = null;
}
@using WelcomeMvcApp.Model.Student;
@model LoginViewModel

@using (@Html.BeginForm("Index","Login",FormMethod.Post)) {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <p>Username :@Html.TextBoxFor((m)=>m.Username)</p>
    <p>Password:@Html.TextBoxFor((m)=>m.Password)</p>
    <input type="submit" value="Login"/>
</div>
</body>
</html>
}