
@{
    Layout = null;
}
@using DepartmentMvcApp.ResourceFiles;
@using DepartmentMvcApp.Model;
@using DepartmentMvcApp.Views.Department
@model EditViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h3>Edit Department</h3>
        @using (@Html.BeginForm(FormMethod.Post))
            {
            <p>@Index.EnterName:@Html.TextBoxFor(m => m.DepartmentName)</p>
                <p>@Index.Loc:@Html.TextBoxFor(m => m.Location)</p>
                <input type="submit" value="Edit">
        }
    </div>
</body>
</html>
